<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between p-0">
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <h1 class="logo logo-text mr-auto"><a href="/">{{ site.title }}</a></h1>
                    <a href="{{ site.data.mapping.links['rsim'] }}" class="logo ml-auto"><img src="assets/img/logos/RSiM.png" alt="" class="img-fluid"></a>
                                  
                    <!-- <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#software">Software</a></li>
                            <li><a href="#publications">Publications</a></li>
                        </ul>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
  </header><!-- End Header -->